<div class="row">
    <div class="row align-items-center" ng-show="$parent.cart.length != 0">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">Img</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-3">Price</div>
        <div class="col-md-2">Quantity</div>
        <div class="col-md-1">Delete</div>
    </div>
    <div class="row align-items-center mb-3" ng-repeat="cart in $parent.cart">
        <div class="col-md-1">
            <input type="checkbox" ng-click="select(cart)">
        </div>
        <img style="height: 120px;" class="col-md-2" src="img/product/{{cart.product.img}}" alt="">
        <!-- <div class="col-md-2">{{cart.product.img}}</div> -->
        <div class="col-md-2">{{cart.product.name}}</div>
        <div class="col-md-3">{{cart.product.price}}</div>
        <div class="col-md-2">
            <button ng-click="decrease(cart)"><i class="fa-solid fa-minus"></i></button>
            <label>{{cart.quantity}}</label>
            <button ng-click="increase(cart)"><i class="fa-sharp fa-solid fa-plus"></i></button>
        </div>
        <!-- <div class="col-md-1">Delete</div> -->
        <button class="col-md-1" ng-click="delete($index)">Delete</button>
    </div>


    <img src="img/cartEmpty.png" alt=""
    ng-show="$parent.cart.length == 0" class="col-md-12" style="height: 400px;">
    <div ng-show="$parent.cart.length != 0" class="d-flex">
        <div class="p-2 flex-grow-1">Total : {{totalBill | currency : '$' : 2}}</div>
        <div class="p-2">a</div>
      </div>
</div>