<div class="container mb-3">
    <div class="row mb-3">
        <div class="offset-1 col-5">
            <img style="height: 220px;" src="img/product/{{detailProduct.img}}" alt="">
        </div>
        <div class="col-4">
            <div>Mã : <span>{{detailProduct.id}}</span></div>
            <div>Name Product : <span>{{detailProduct.name}}</span></div>
            <div>Price : <span>{{detailProduct.price}}</span></div>
            <div>Quantity : <span>{{detailProduct.quantity}}</span></div>
            <div>Sold : <span>{{detailProduct.sold}}</span></div>

            <button ng-click="$parent.viewCart(detailProduct)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom"
                aria-controls="offcanvasBottom">
                Add Product enter cart<i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </div>

    <div class="row">
        <fieldset>
            <legend>Related goods</legend>
            <div class="row" ng-controller="offcanvasDetailProduct">
                <div class="card col-2 mb-2" ng-repeat="product in $parent.productss">
                    <a href="#!/detailProduct/{{product.id}}">
                        <img style="height: 150px;" src="img/product/{{product.img}}" class="card-img-top img-fluid"
                            alt="...">
                    </a>
                    <div class="card-body">
                        <div>{{product.name}}</div>
                        <div class="d-flex justify-content-between">
                            <div><i class="fa-solid fa-sack-dollar"></i>{{product.price}}</div>
                            <div></div>
                            <div>{{product.sold}}</div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <label ng-click="cart(product)" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i
                                    class="fa-solid fa-cart-shopping"></i></label>
                        </div>
                        <label ng-click="homeDetailProduct(product)" class="d-flex justify-content-center" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop1" aria-controls="staticBackdrop">
                            <i class="fa-regular fa-circle" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                data-bs-title="Detail this product"></i>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>